# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node.js
node_modules/
dist/
.npm

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
pylint_out.txt
ml_pipeline/expense_classifier.pkl
ml_pipeline/transactions.csv
